:root {
    --width: 265px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    padding-left: 52px;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 52px;
    background-color: #636363;
    overflow: hidden;
    transition:  width 0.3s ease-in-out;
}

nav:hover {
    width: var(--width);
}

nav .bar {
    color: #faebd7;
    background-color: #636363;
    display: flex;
    justify-content: start;
    margin-top: 2px;
    padding-right: 2px;
}
nav .bar .logo {
    width: 50px;
    border-radius: 50%;    
  
}

nav .bar .logo:hover {
    overflow: hidden;
    
}
nav .user {
    color: #faebd7;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 180px;
    transform: translateX(-300px);
    opacity: 0;
    width: var(--width);
    transition: transform 0.3s ease-in-out,  opacity 0.3s ease-in-out;
}

nav .user img{
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

nav:hover .user {
    transform: translateX(0);
    opacity: 1;
}

nav .links a {
    color: #faebd7;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: var(--width);
    overflow: hidden;
}

nav .links a:hover{
    background-color: cadetblue;
    color: #faebd7;
}

nav .links a .icon {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}